<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 宜蘭縣觀光景點
            meta(property='og:title', content='宜蘭縣觀光景點')
            meta(property='og:description', content='選擇類別為你決定遊玩去處')
            meta(property='og:image', content='https://images.unsplash.com/photo-1551668704-a75c2cb614f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80')
            meta(property='og:type', content='website')
        link(rel="stylesheet", href="./css/all.css")
        script(src="./js/vendors.js")
    body
        section
            .jumbotron.text-center.bg-cover.d-flex.align-items-center(style="background-image:url('https://images.unsplash.com/photo-1551668704-a75c2cb614f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');min-height:500px")
                .container.bg-shadow.py-5
                    h1.display-4 宜蘭觀光景點
                    p.lead 選擇類別為你決定遊玩去處
                    .form-group.d-flex.justify-content-center.mt-4
                        label(for='type')
                        select#type.form-control.w-50
        section.h-50.d-flex.justify-content-center
            .container
                #map
        section.mt-4
            .container
                .alert.alert-info.text-center(role='alert') 實際情形以當地做為標準喔
                .table-responsive
                    table.table
                        thead
                            tr
                                th 名稱
                                th 開放時間
                                th 電話
                                th 地址
                                th.d-md-table-cell.d-none 票價資訊
                        tbody#info
        footer.py-3.bg-light.text-center
            span.text-primary 資料來源：公共運輸整合資訊流通服務平臺
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACrqtiPfVFjqaZgCqz4CFXrpLA_dxXBYs&callback=initMap" async defer)
    script(src="./js/all.js")